<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict/>
	<key>appleId</key>
	<string>690556263@qq.com</string>
	<key>artistId</key>
	<integer>372585298</integer>
	<key>artistName</key>
	<string>Beijing Baidu Netcom Science &amp; Technology Co.,Ltd</string>
	<key>bundleDisplayName</key>
	<string>百度网盘</string>
	<key>bundleShortVersionString</key>
	<string>6.6.0</string>
	<key>bundleVersion</key>
	<string>6.6.0.19</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143465-19,32</string>
			<key>AppleID</key>
			<string>690556263@qq.com</string>
			<key>DSPersonID</key>
			<integer>1810771669</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>彩笛</string>
			<key>LastName</key>
			<string>解</string>
			<key>PurchaserID</key>
			<integer>1810771669</integer>
			<key>UserName</key>
			<string>解彩笛</string>
		</dict>
		<key>purchaseDate</key>
		<string>2018-07-13T15:09:17Z</string>
	</dict>
	<key>copyright</key>
	<string>©2016 Baidu.com</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>效率</string>
	<key>genreId</key>
	<integer>6007</integer>
	<key>itemId</key>
	<integer>547166701</integer>
	<key>itemName</key>
	<string>百度网盘</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Beijing Baidu Netcom Science &amp; Technology Co.,Ltd</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2018-07-13T15:09:17Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>偶尔/轻微的惊悚/恐怖题材 , 偶尔/轻微的成人/性暗示题材 , Advisory.NO.GAMBLING_CONTESTS , 偶尔/轻微的色情内容或裸露 and Advisory.NO.UNRESTRICTED_WEB_ACCESS</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2013-01-20T07:50:20Z</string>
	<key>s</key>
	<integer>143465</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1700.phobos.apple.com/us/r30/Purple125/v4/58/f2/54/58f2544a-f17c-8ab6-6692-fa73dec5545d/icon114x114.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>9</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.baidu.netdisk</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>812649628</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>9613149</integer>
		<integer>10865055</integer>
		<integer>11690934</integer>
		<integer>12033638</integer>
		<integer>12759086</integer>
		<integer>13007348</integer>
		<integer>13726634</integer>
		<integer>14552568</integer>
		<integer>14729481</integer>
		<integer>15384955</integer>
		<integer>15542362</integer>
		<integer>15801906</integer>
		<integer>16025722</integer>
		<integer>83733066</integer>
		<integer>101672653</integer>
		<integer>199922664</integer>
		<integer>233262644</integer>
		<integer>252912635</integer>
		<integer>325442875</integer>
		<integer>509792780</integer>
		<integer>581562776</integer>
		<integer>605342917</integer>
		<integer>656272714</integer>
		<integer>679902649</integer>
		<integer>701972731</integer>
		<integer>727482685</integer>
		<integer>782362704</integer>
		<integer>811133083</integer>
		<integer>811437014</integer>
		<integer>811506871</integer>
		<integer>811543945</integer>
		<integer>811567297</integer>
		<integer>811878305</integer>
		<integer>811892890</integer>
		<integer>812315539</integer>
		<integer>812347894</integer>
		<integer>812649628</integer>
		<integer>812801870</integer>
		<integer>813156467</integer>
		<integer>813225058</integer>
		<integer>813300291</integer>
		<integer>813801190</integer>
		<integer>813846934</integer>
		<integer>813910876</integer>
		<integer>814140310</integer>
		<integer>814256097</integer>
		<integer>814467534</integer>
		<integer>815210621</integer>
		<integer>815467230</integer>
		<integer>815837551</integer>
		<integer>816157768</integer>
		<integer>816713137</integer>
		<integer>817004938</integer>
		<integer>817063768</integer>
		<integer>817116476</integer>
		<integer>817501156</integer>
		<integer>817802330</integer>
		<integer>817812383</integer>
		<integer>818003901</integer>
		<integer>818582823</integer>
		<integer>818666162</integer>
		<integer>818831243</integer>
		<integer>819054129</integer>
		<integer>819593375</integer>
		<integer>819974408</integer>
		<integer>820535982</integer>
		<integer>822203468</integer>
		<integer>822220889</integer>
		<integer>822294693</integer>
		<integer>822597439</integer>
		<integer>823065889</integer>
		<integer>823270611</integer>
		<integer>823561848</integer>
		<integer>823760093</integer>
		<integer>824036552</integer>
		<integer>824222690</integer>
		<integer>824251948</integer>
		<integer>824298643</integer>
		<integer>824382540</integer>
		<integer>825216976</integer>
		<integer>825331310</integer>
		<integer>825358158</integer>
		<integer>825526974</integer>
		<integer>825604726</integer>
		<integer>825920980</integer>
		<integer>826091688</integer>
		<integer>826158383</integer>
		<integer>826186510</integer>
		<integer>826199661</integer>
		<integer>826312370</integer>
		<integer>826550687</integer>
		<integer>826800420</integer>
		<integer>827073293</integer>
		<integer>827114227</integer>
		<integer>827505689</integer>
		<integer>827692968</integer>
		<integer>827700497</integer>
		<integer>827716254</integer>
	</array>
	<key>userName</key>
	<string>解彩笛</string>
	<key>vendorId</key>
	<integer>328057</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
